/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_modules.scss */
.bg-about-desc {
  background-attachment: scroll;
  background-image: url(../img/about_desc.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 5, ../sass/partials/_modules.scss */
.bg-about-ext {
  background-attachment: scroll;
  background-image: url(../img/about_ext.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 8, ../sass/partials/_modules.scss */
.bg-contact {
  background-attachment: scroll;
  background-image: url(../img/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 12, ../sass/partials/_modules.scss */
.bg-green-dark {
  background-color: #007389 !important;
}
/* line 15, ../sass/partials/_modules.scss */
.bg-green-light {
  background-color: #00cfcf !important;
}
/* line 19, ../sass/partials/_modules.scss */
.bg-home {
  background-attachment: scroll;
  background-image: url(../img/home.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 22, ../sass/partials/_modules.scss */
.bg-services {
  background-attachment: fixed;
  background-image: url(../img/services.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 28, ../sass/partials/_modules.scss */
.border-green-dark {
  border-color: #007389 !important;
}
/* line 31, ../sass/partials/_modules.scss */
.border-green-light {
  border-color: #00cfcf !important;
}

/* line 37, ../sass/partials/_modules.scss */
.comingsoon-s1 {
  background-attachment: fixed;
  background-image: url(../img/error_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 43, ../sass/partials/_modules.scss */
.error-s1 {
  background-attachment: fixed;
  background-image: url(../img/error_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 49, ../sass/partials/_modules.scss */
.h-50vh {
  height: 50vh;
}

/* line 56, ../sass/partials/_modules.scss */
.hover-underline:hover {
  text-decoration: underline !important;
}

/* line 63, ../sass/partials/_modules.scss */
.maxh-600 {
  max-height: 600px;
}

/* line 69, ../sass/partials/_modules.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 72, ../sass/partials/_modules.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 78, ../sass/partials/_modules.scss */
.privacy-s1 {
  background-attachment: fixed;
  background-image: url(../img/error_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 85, ../sass/partials/_modules.scss */
.skew-x-10 {
  transform: skewX(-10deg);
}

/* line 93, ../sass/partials/_modules.scss */
.text-green-dark {
  color: #007389 !important;
}
/* line 96, ../sass/partials/_modules.scss */
.text-green-light {
  color: #00cfcf !important;
}
/* line 101, ../sass/partials/_modules.scss */
.text-shadow-dark {
  text-shadow: 1px 1px 2px #000;
}

@media all and (max-width: 767px) {
  /* line 110, ../sass/partials/_modules.scss */
  .bg-md-green-dark {
    background-color: #007389 !important;
  }
  /* line 113, ../sass/partials/_modules.scss */
  .bg-md-green-light {
    background-color: #00cfcf !important;
  }

  /* line 120, ../sass/partials/_modules.scss */
  .border-md-green-dark {
    border: 1px solid #007389 !important;
  }
  /* line 123, ../sass/partials/_modules.scss */
  .border-md-green-light {
    border: 1px solid #00cfcf !important;
  }
}
@media all and (min-width: 768px) and (orientation: portrait) {
  /* line 133, ../sass/partials/_modules.scss */
  .index-s1 * {
    color: #fff !important;
    text-shadow: 1px 1px 2px #000;
  }
}
@media all and (min-width: 768px) {
  /* line 141, ../sass/partials/_modules.scss */
  .index-s1 {
    background-position: center !important;
  }
}
/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}
/* line 14, ../sass/partials/_minh.scss */
.minh-footer-adj {
  min-height: calc( 100vh - 41px );
  min-height: -o-calc( 100vh - 41px );
  min-height: -moz-calc( 100vh - 41px );
  min-height: -webkit-calc( 100vh - 41px );
}
