$bg__about-desc-img: "../img/about_desc.jpg";
$bg__about-ext-img: "../img/about_ext.jpg";
$bg__contact-img: "../img/contact.jpg";
$bg__home-img: "../img/home.jpg";
$bg__services-img: "../img/services.jpg";
$color__green--dark: #007389;
$color__green--light: #00cfcf;
$comingsoon-img: "../img/error_bg.jpg";
$error-img: "../img/error_bg.jpg";
$footer_height: 41px;
$privacy-img: "../img/error_bg.jpg";
$text__shadow--dark: 1px 1px 2px #000;